body {
    touch-action: manipulation;
}
.keyboard .btn {
    width: 7rem;
    height: 7rem;
    font-size: 3rem !important;
}
.keyboard .key {
    text-align: center;
}
#answerPane:after {
    content: '\200b';
}
.v-center {
    height: 100%;
    align-items: center;
}